QWidget#CheckerListItem{
    background-color: rgb(50, 50, 50);
    border-top: 1px solid rgb(65, 65, 65);
    border-bottom: 1px solid rgb(35, 35, 35);
}
QWidget#CheckerListItem:hover{
    background-color: rgb(60, 60, 60);
    border-top: 1px solid rgb(75, 75, 75);
    border-bottom: 1px solid rgb(45, 45, 45);
}

QPushButton#CheckerSelect{
    border: 2px dotted rgb(200, 200, 200);
    background: rgb(60, 60, 60);
    padding: 3px solid;
    border-radius: 2px;
}

QPushButton#CheckerSelect:hover{
    border: 2px dotted rgb(235, 235, 235);
    background: rgb(60, 60, 60);
    padding: 3px solid;
    border-radius: 2px;
}

QWidget#Scroll{
    background-color: rgb(55, 55, 55);
}

QWidget#Toolbar{
    background-color: rgb(40, 40, 40);
}

QLabel#CheckerLabel{
    color: rgb(200, 200, 200);
    font-size: 16px;
}

QLabel#CheckerDesc{
    color: rgb(200, 200, 200);
    font-size: 12px;
}

QLabel#CheckerMessage{
    color: rgb(200, 200, 200);
    font-size: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
}

QDockWidget{
    background-color: rgb(55, 55, 55);
}

QLabel#Grade{
    font-size: 32px;
    color: rgb(200, 200, 200);
}

QLabel#GradeMessage{
    font-size: 12px;
    color: rgb(200, 200, 200);
}

QLabel#Basic{
    font-size: 12px;
    color: rgb(200, 200, 200);
}

QWidget#Main{
    background-color: rgb(55, 55, 55);
}

QProgressBar {
     border: 2px solid rgb(45, 45, 45);
     border-radius: 0px;
     text-align: center;
     font-size: 24;
     background-color: rgb(45, 45, 45);
     color: rgb(255, 255, 255);
}

QProgressBar::chunk {
    background-color: rgb(45, 45, 45);
    width: 1px;
}

QPushButton#CheckButton{
    background-color: rgb(65, 65, 65);
    color: rgb(200, 200, 200);
    font-size: 12px;
    border: 0;
    border-bottom: 2px solid rgb(55, 55, 55);
    padding: 6px;
    border-radius: 0px;
}

QPushButton#CheckButton:hover{
    background-color: rgb(75, 75, 75);
}

QPushButton#FixButton{
    background-color: rgb(198, 53, 34);
    color: rgb(200, 200, 200);
    font-size: 12px;
    border: 0;
    border-bottom: 2px solid rgb(178, 33, 14);
    padding: 6px;
    border-radius: 0px;
}

QPushButton#FixButton:hover{
    background-color: rgb(208, 58, 39);
}

QComboBox {
    font-size: 12px;
    background: rgb(65, 65, 65);
    color: rgb(235, 235, 235);
    border: none;
    outline: none;
    padding: 0px;
    height: 26;
    width: 75;
    padding-left: 10;
    border-radius: 0px;
    border-bottom: 2px solid rgb(55, 55, 55);
}

QComboBox:hover {
    background: rgb(75, 75, 75);
}

QComboBox::drop-down{
    margin-top: 12px;
    border-top: 6px solid rgb(145,145,145);
    border-right: 6px solid rgb(255,255,255,0);
    border-left: 6px solid rgb(255,255,255,0);
    border-bottom: 0px solid rgb(235,235,235, 0);
    margin-right: 4px;
    background: rgb(65, 65, 65, 0);
}

QComboBox QAbstractItemView{
    border: none;
    outline: none;
    background-color: rgb(55, 55, 55);
    color: rgb(235, 235, 235);
    selection-background-color: rgb(125, 125, 125);
    selection-color:rgb(255, 255, 255);
}

/**************************
Scroll Bars
***************************/
QScrollArea{
    border: none;
    background: rgb(55,55,55);
}

QScrollBar:horizontal {
    background: rgb(255, 255, 255, 0);
    height: 6px;
    margin: 0px 20px 0px 20px;
}

QScrollBar::handle:horizontal {
    background: rgb(85, 85, 85);
    min-width: 20px;
    height: 4px;
}

QScrollBar::add-line:horizontal {
    background: rgb(41,41,41,0);
    height: 1px;
    left: 20px;
    right: 20px;
    subcontrol-origin: margin;
    subcontrol-position: left;
}

QScrollBar::sub-line:horizontal {
    background: rgb(41,41,41,0);
    height: 1px;
    left: 20px;
    right: 20px;
    subcontrol-origin: margin;
    subcontrol-position: right;
}

QScrollBar::left-arrow:horizontal, QScrollBar::right-arrow:horizontal {
    background: none;
}

QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
    background: none;
    height: 1px solid;
}

QScrollBar:vertical {
    background: rgb(255, 255, 255, 0);
    width: 12px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 4px;
}

QScrollBar::handle:vertical {
    background: rgb(50, 50, 50);
    min-height: 20px;
    height: 40px;
    width: 12px;
}

QScrollBar::handle:vertical:hover {
    background: rgb(65, 65, 65);
    min-height: 20px;
    height: 40px;
    width: 12px;
}

QScrollBar::add-line:vertical {
    background: rgb(145,145,145,0);
    width: 1px;
    top: 20px;
    bottom: 20px;
    left: 4px;
    subcontrol-origin: paddding;
    subcontrol-position: top;
}

QScrollBar::sub-line:vertical {
    background: rgb(145,145,145,0);
    width: 1px;
    top: 20px;
    bottom: 20px;
    left: 4px;
    subcontrol-origin: padding;
    subcontrol-position: bottom;
}

QScrollBar::top-arrow:vertical, QScrollBar::bottom-arrow:vertical {
    background: rgb(255,255,255,0);
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: rgb(255,255,255,0);
}

QWidget#WindowHeader{
    background: rgb(40, 40, 40);
}
