QWidget#CleanerListItem {
    background-color: rgb(55, 55, 55);
}

QWidget#CleanerListItem:hover {
    background-color: rgb(65, 65, 65);
}

QLabel#CleanerLabel{
    color: rgb(165, 165, 165);
    font-size: 16px;
}

QLabel#CleanerDesc{
    color: rgb(165, 165, 165);
    font-size: 10px;
}

QLabel#CleanerMessage{
    background-color: rgb(35, 35, 35);
    color: rgb(135, 135, 135);
    font-size: 10px;
}

QLabel#fill{
    background-color: rgb(35, 35, 35);
}

QLabel#Grade{
    font-size: 32px;
    color: rgb(200, 200, 200);
}

QLabel#GradeMessage{
    font-size: 12px;
    color: rgb(200, 200, 200);
}

/* QWidget{
    background-color: rgb(55, 55, 55);
} */

QProgressBar {
     border: 0px;
     border-radius: 5px;
     text-align: center;
     font-size: 24;
     color: rgb(255, 255, 255);
}

QProgressBar::chunk {
    background-color: white;
    width: 1px;
}
